{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    About this app
  </h3>
  <p>
    A Weather application that provides readings for: Weather Code (number in range 100-800), Temperature (C) & Wind Speed.
  </p>
  <div class="ui large image">
  <img src= "https://cdn.glitch.com/1a4c38ab-426f-47ed-b3ff-1de8d70b6cb0%2Fweather.png?v=1628839634039">
  </div>
</section>