{{> menu id="dashboard"}}

{{#each stations}}

  <section class="ui segment">

    <h2 class="ui header">
      {{title}}
    </h2>
    <a href="/station/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  </section>
{{/each}}
<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <div class="one fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="title">
    </div>
<button class="ui blue submit button">Add Station</button>
</form>

